APP_ENV=development
APP_DEBUG=true
APP_URL=https://nkworks.info
APP_TIMEZONE=Asia/Tokyo

DB_HOST=mysql3117.db.sakura.ne.jp
DB_PORT=3306
DB_NAME=nkworks-dev_school
DB_USER=nkworks-dev_school
DB_PASSWORD=CHANGE_ME
DB_CHARSET=utf8mb4

LOG_PATH=storage/logs/app.log
